{% extends "base.html" %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <h1 class="mb-4">
          Username: {{ redactor.username }}
        </h1>
        <p><strong>First Name:</strong> {{ redactor.first_name }}</p>
        <p><strong>Last Name:</strong> {{ redactor.last_name }}</p>
        <p><strong>Years of Experience:</strong> {{ redactor.years_of_experience }}</p>
        <p><strong>Is Staff:</strong> {{ redactor.is_staff }}</p>

        <div class="mt-4">
          <a href="{% url 'agency:redactor-delete' pk=redactor.id %}" class="btn btn-danger btn-lg mr-2">
            Delete
          </a>

          <a href="{% url 'agency:redactor-update' pk=redactor.id %}" class="btn btn-secondary btn-lg">
            Update
          </a>
        </div>
      </div>

      <div class="col-md-6">
        <h4 class="mb-4">Newspapers</h4>
        {% for newspaper in redactor.newspapers.all %}
          <hr>
          <p><strong>Title:</strong> {{ newspaper.title }}</p>
          <p><strong>Topic:</strong> {{ newspaper.topic.name }}</p>
          <p class="text-muted"><strong>ID:</strong> {{ newspaper.id }}</p>
        {% empty %}
          <p>No newspapers!</p>
        {% endfor %}
      </div>
    </div>
  </div>
  <link rel="stylesheet" href="/static/css/styles.css">
{% endblock %}
